.project
.pydevproject
*.pyc
*seed.txt
*~
variation/*hdf5
snps.hdf5
test/test_data/performance/
build
*__pycache__*
variation/gt_parsers/vcf_field_parsers.c
variation/gt_parsers/vcf_field_parsers.cpython*
.vscode/*
dist/
venv/
variation.egg-info/
